/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 19, 2022, 8:05:20 PM
    Author     : User
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   
    margin: 0;padding: 0;
    box-sizing:border-box;
    text-transform: capitalize;
    outline:none;border: none;
    text-decoration:none;
    transition:all .2s linear;
}
*::selection{
   
    color: #fff;
}
html{
    font-size: 65.5%;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
body {
    font-family: 'Rubik', sans-serif;
    background: white;
}
a {
    text-decoration: none;
}

#container {
    margin: 30px auto;
    max-width: 530px;
    padding: 20px;
}
.heading{
    text-align: center;
    padding: 2rem 9%;
}
.heading span{
    font-size: 3.5rem;
    background: #222;
    color: #fff;
    border-radius:.5rem;
    padding: .2rem 1rem;
}
.heading span.space{
    background:none;
}


.form-wrap {
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #ffe100;
    border-radius: 05px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: #666;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #FFF300;
    color: #fff;
    cursor: pointer;
    border: 1px solid #49c1a2;
    font-family: 'poppins';
    font-size: 15px;
    transition: 1s;
    border-radius: 10px;
}

.form-wrap button:hover {
    background-color: #191916;
    transition: 1s;
}

.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}



.hidden {
    display: none;
}